.prediction {
    width: calc(100% - 40%);
    height: 100vh;

    &__title {
        font-size: 3em;
        margin: 0;
        background: #f0ebe8;
        color: #7e7b7a;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        

        .icon:before {
            font-family: 'MeteoconsRegular';
            font-size: 2em;
            font-style: normal;
            margin-right: 40px;
            color: #7e7b7a;
            content: attr(data-icon);
        }
    }

    &__list {
        flex: 1;
        position: relative;
        list-style: none;
        margin: 0;
        padding-left: 0;
        height: calc(100% - 120px); // total height of screen minus height header
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        color: #ffffff;
        font-weight: bold;
        
        &-today {
            height: calc(60% - 60px); // 60px is sum of padding top bottom from three items
        }

        &--box {
            width: 400px;
            line-height: 30px;
            font-size: 2em;

            h5 {margin: 0}
        }

        &-tomorrow {
            height: 20%;
            justify-content: flex-end;
        }

        &-aftertomorrow {
            height: 20%;
            justify-content: flex-end;
        }
    }
    

    &__icon {
        max-width: 50%;

        .icon {
            &:before {
                font-family: 'MeteoconsRegular';
                font-size: 12rem;
                font-style: normal;
                color: #ffffff;
                content: attr(data-icon);
            }
        }
    }

    &__info {
        width: 400px;
        color: #ffffff;
        font-size: 2em;
        
        &-title {
            margin: 0;
        }

        &-list {
            margin: 40px 0;
            list-style: none; padding-left: 0;
        }
        
    }
}